<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CV Rasmussen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<meta name="description" content="CV José Rasmussen">
	<meta name="keywords" content="CV, José, Rasmussen">
</head>
<body>
	<nav>
		<a class="navitem navitem-logo" href="">Logo José Rasmussen</a>
		<a class="navitem navitem-1" href="">Intro</a>
		<a class="navitem navitem-2" href="">Resume</a>
		<a class="navitem navitem-3" href="">Projects</a>
		<a class="navitem navitem-4" href="">Gallery</a>
		<a class="navitem navitem-5" href="">Contact</a>
	</nav>
	<header class="banner-container" name="banner">
		<img class="banner-image" src="../image/me_fullscreen.jpg">
		<div class="banner-message">
			<h1>José Rasmussen</h1>
			<p>Web Developer</p>
		</div>
	</header>
	<article class="intro intro-container"name="introduction">
		<img class="intro intro-image" src="../image/mugshot.jpg">
		<section class="intro intro-text">
			<header class="intro intro-header">
				<h2>Hi, I'm José.</h2>			
			</header>
			<p>
				Welcome to my little corner of the internet.<br>
				Let me tell you a bit about myself.
			</p>
			<p>
				While studying at the Rotterdam University of Applied <br> Sciences and doing many project in healthcare I realized that<br> my true passion layed in programming. I changed my life goals <br>and now I'm an entry level web developer looking for an opportunity in IT.
			</p>
			<p>
				I was born in Peru, raised on Aruba and educated in the <br>Netherlands. Because of this I have developed a broad world <br>view and have experience in dealing with people from many nationalities.<br> Working in multicultural groups is something I quite enjoy.
			</p>
			<p>
				My two daughters are my inspiration and my wife my rock.<br> Part of the reason that I want a carear in IT is so that I <br>can provide them with a comftrable life.<br> I'm all in. 
			</p>
		</section>
	</article>
	<article class="CV CV--container" name="resume">
		<h2>My Resume</h2>
		<button class="CV CV--downloadbtn">Download Version</button>
		<p>This is a listing of all the stuff I've done so far.</p>
		<h3>Objectives & personal statement</h3>
		<h3>Education</h3>
		<h3>Languages</h3>
		<h3>Work experience and internships</h3>
		<h3>Additional Information & Hobbies</h3>
	</article>
	<article class="projects projects-container" name="projects">
		<h2>Projects</h2>
		<p>Links and explinacion of the websites I made.</p>
		<section class="projects projects-gitaar">
			<header>
				<h3>Gitaar</h3>
			</header>
			<p>
				This was my HTML5 & CSS3 endproject for the LOI course I am following. I love gitaars so I had a lot fun working on this project. I passed the coures with this project.
			</p>
			<p>
				As you can imagine I was only allowed to use HTML5 & CSS3 to build the entire website. I was only allowed a little JS to add a google maps feature in the contacts page. The responsiveness of the page is done with the flexbox.
			</p>
			<p>
				My plans for improvement are to improve the maps functionality and to add a login backed by a user database.
			</p>
		</section>
		<section class="projects projects-moviebuff">
			<header>
				<h3>Movie Buff</h3>
			</header>
			<p>
				A friend working at <a href="">Sogeti</a> gave me this <a href="">project</a> to help me test my own skills and help me get a feel of how far I've come. I'm pleased with my progress and my friend gave me some good tips for improvement. 
			</p>
			<p>
				This website is build in pure JavaScript(ES6), HTML5 and CSS3. It sends queries to a movie data base and I used promises to make up for the response delay.
			</p> 
			<p>
				My plans for improvement are to include a login so I can keep track of searches and personalise the start page of the user.
			</p>
		</section>
		<section class="projects projects-ninjarun">
			<header>
				<h3>Ninjarun</h3>
			</header>
		</section>
		<section class="project projects-resume">
			<header>
				<h3>My Resume</h3>
			</header>
			<p>
				Ok so probaly not fair to include this website, but I want to tell you a bit about it because I really like it.
			</p>
			<p>
				It's a node.js application and the server runs on express.js. I deployed it using a free Heroku account. The front end is done with CSS grid. 
			</p>
		</section>
	</article>
	<article class="gallery gallery-container" name="gallery">
		<section class="gallery gallery-frame">
			<header class="gallery gallery-header">
				<h2>Gallery</h2>
			</header>
			<img class="gallery gallery-tile gallery-image-1" src="">
			<img class="gallery gallery-tile gallery-image-2" src="">
			<img class="gallery gallery-tile gallery-image-3" src="">
			<img class="gallery gallery-tile gallery-image-4" src="">
			<img class="gallery gallery-tile gallery-image-5" src="">
			<img class="gallery gallery-tile gallery-image-6" src="">
			<img class="gallery gallery-tile gallery-image-7" src="">
			<img class="gallery gallery-tile gallery-image-8" src="">
		</section>
	</article>
	<footer>
		<section class="footer--info">
			<h2>Contact me</h2>
			<p>This is the footer</p>
		</section>
		<img class="footer--image" src="">
	</footer>
</body>
</html>