<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CV Rasmussen</title>
	<meta name="description" content="CV José Rasmussen">
	<meta name="keywords" content="CV, José, Rasmussen">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/main.js" async></script>
</head>
<body>
	<nav>
		<a class="navitem navitem-logo" href="">Logo José Rasmussen</a>
		<a class="navitem navitem-1" href="">About</a>
		<a class="navitem navitem-2" href="">Resume</a>
		<a class="navitem navitem-3" href="">Projects</a>
		<a class="navitem navitem-4" href="">Gallery</a>
		<a class="navitem navitem-5" href="">Contact</a>
	</nav>
	<header class="banner-container" name="banner">
		<img class="banner-image" src="../image/me_fullscreen.jpg">
		<div class="banner-message">
			<h1>José Rasmussen</h1>
			<p>Web Developer</p>
		</div>
	</header>
	<article class="about about-container"name="introduction">
		<header class="about about-header">
			<h2>About, who I am.</h2>			
		</header>
		<img class="about about-image" src="../image/mugshot.jpg">
		<section class="about about-text">
			<p>
				Hi, I'm José. Welcome to my little corner of the internet.<br>
				Let me tell you a bit about myself.
			</p>
			<p>
				While studying at the Rotterdam University of Applied <br> Sciences and doing many projects in healthcare I realized that<br> my true passion layed in programming. I changed my life goals <br>and now I'm an entry level web developer looking for an opportunity in IT.
			</p>
			<p>
				I was born in Peru, raised on Aruba and educated in the <br>Netherlands. Because of this I have developed a broad world <br>view and have experience in dealing with people from many nationalities.<br> Working in multicultural groups is something I quite enjoy.
			</p>
			<p>
				My two daughters are my inspiration and my wife is my rock.<br> Part of the reason that I want a carear in IT is so that I <br>can provide them with a comftrable life.<br> I'm all in. 
			</p>
		</section>
	</article>
	<article class="resume resume-container" name="resume">
		<header class="resume resume-header">
			<h2>My Resume</h2>
			<p>This is a listing of all the stuff I've done so far.</p>			
		</header>
		<button class="resume-downloadbtn">Download PDF</button>
		<section class="resume-section" id="resume-intro">
			<header class="resume-sectionheader" id="resume-introheader">
				<h3>Objectives & personal statement</h3>				
			</header>
			<div class="resume-text" id="resume-introtext">
				<p>
					My main goals as a webdeveloper are to be client oriented and to never stop learning. Whilst working on healthcare projects I learned that good communication between technicians, healthcare providers, management and patients is key for the succes of most if not all projects in healthcare. Although my focus right now is on sharpening my coding skills, I would like to one day help bridge the gap between developers and clients.     
				</p>
			</div>
		</section>
		<section class="resume-section resume-education">
			<header class="resume-sectionheader resume-educationheader">
				<h3>Education</h3>
			</header>
			<div class="resume-text resume-educationtext">
				<div class="resume-educationyear" id="resume-educationyear-1"><p>2019 - present</p></div>
				<div class="resume-educationinfo" id="resume-educationinfo-1">
					<h4>HBO Full-Stack Webdeveloper (Ongoing)</h4>
					<p class="resume-education-location">
						 Leidse Onderwijsinstelling (LOI)
					</p>
					<p>
						I had a great time at the Coding-Bootcamp and I learned a lot, but I wanted to go deeper into webdev. So I enrolled in the LOI. I currently follow a (HBO-level) Full-Stack Webdevelopment course. I have, so far, earned my HTML5 & CSS3 certificate and I am also a certified CIW JavaScript Specialist. Currently I am working on the PHP & SQL module and the SCRUM module. 
					</p>
				</div>
				<div class="resume-educationyear" id="resume-educationyear-2"><p>2017 - 2018</p></div>
				<div class="resume-educationinfo" id="resume-educationinfo-2">
					<h4>Web Development Intensive Course (Coding-Bootcamp Certificate)</h4>
					<p class="resume-education-location">
						The New York Code & Design Academy (NYCDA), Amsterdam
					</p>
					<p>
						I trained for about 9 months at the NYCDA to become a junior full-stack developer. It was a great experience and I loved working in such a diverce multicultural group. The course coverd many subjects at highspeed. I got to work with, HTML5, CSS3, JavaScript, jQuery, React.js, Bootstrap, PUG, Node.js, Express.js and PostgresSQL.  
					</p>
				</div>
				<div class="resume-educationyear" id="resume-educationyear-3"><p>2011 - 2017</p></div>
				<div class="resume-educationinfo" id="resume-educationinfo-3">
					<h4>Healthcare Technology (First Year Diploma)</h4>
					<p class="resume-education-location">
						Rotterdam University of Applied Sciences (Hogeschool Rotterdam)
					</p>
					<p>
						This is where my love for coding started. In my third year we started working on Arduino micro controllers and databases, and just like that I was hooked. I kept pushing for more prototyping projects but deep down I knew that I just didn't fit in anymore. The most important things I learned were, table top reseach, analysing complex problems in multidiciplinairy research groups and my love for creating applications.  
					</p>
				</div>
				<div class="resume-educationyear" id="resume-educationyear-4"><p>2006 - 2010</p></div>
				<div class="resume-educationinfo" id="resume-educationinfo-4">
					<h4>Physiotherapy (First Year Diploma)</h4>
					<p class="resume-education-location">
						Rotterdam University of Applied Sciences (Hogeschool Rotterdam)
					</p>
					<p>
						The most important things I learned during this time are how to listen to a client, how to criticaly asses a situation and self reflection. I also learned to not rely on cookie cutter solutions. Every client is unique, so every client requieres a different kind of care or theraputical approach.
					</p>
				</div>
				<div class="resume-educationyear" id="resume-educationyear-5"><p>1997 - 2004</p></div>
				<div class="resume-educationinfo" id="resume-educationinfo-5">
					<h4>VWO (Diploma)</h4>
					<p class="resume-education-location">
						Colegio Arubano, Oranjestad Aruba
					</p>
						Pre-University secondary education. Growing up on Aruba was definatly a unique experience.
					</p>
				</div>
			</div>
		</section>
		<section class="resume-section" id="resume-languages">
			<header class="resume-sectionheader" id="resume-languagesheader">
				<h3>Languages</h3>
			</header>
			<table class="resume-text" id="resume-languagestable">
				<tr>
					<th>Spanish:</th>
					<td>Native language</td>
				</tr>
				<tr>
					<th>English:</th>
					<td>Native language level</td>
				</tr>
				<tr>
					<th>Dutch:</th>
					<td>Second language</td>
				</tr>
				<tr>
					<th>Papiamento:</th>
					<td>Fluent</td>
				</tr>
			</table>
		</section>
		<section class="resume-section" id="resume-experience">
			<header class="resume-sectionheader" id="resume-experienceheader">
				<h3>Experience</h3>
			</header>
			<div class="resume-text" id="resume-experiencetext">
				<div id="resume-experience-year-1"><p>2019 - 2021</p></div>
				<div class="resume-experience-info" id="resume-experience-info-1">
					<h4>PostNL (Part-Time Parcel Delivery)</h4>
					<p class="resume-experience-location">
						 Deport Ridderkerk, Rotterdam 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						This was a great side job. The flexibility of this job made it possible for me to be a student and to take care of my children during the day. It's unfortunate that I had to sacrifice my weekends but it was nessasery. This job thaught me a lot about life and about people in general. Working outside makes you feel like you are part of life and not just an observer.    
					</p>
				</div>
				<div id="resume-experience-year-2"><p>2018</p></div>
				<div class="resume-experience-info" id="resume-experience-info-2">
					<h4>Internship: Analysis of medical alarms</h4>
					<p class="resume-experience-location">
						 Bravis Hospital, Bergen op Zoom
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						I was given the task to analyse and help improve the management system of medical
						alarms on the children’s and neonatal ward. I helped to analyse the XML data by writing a VBA Excel program. I also helped to asses the effects of the changes that had been put in place by project prior to mine.     
					</p>
				</div>
				<div id="resume-experience-year-3"><p>2017 - 2018</p></div>
				<div class="resume-experience-info" id="resume-experience-info-3">
					<h4>Social media Consultant (remote part-time) and Stockroom assistant</h4>
					<p class="resume-experience-location">
						 Quality Auto Parts N.V., Aruba 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						I was hired as a stockroom assistant but I later helped them to modernize the company by starting a Facebook add campaign and giving the company a presence on Google(maps). I also reported Google business results directly to management and provided customer support via Facebook chats. After the summer ended I worked part-time remotely from Rotterdam for about a year.
					</p>
				</div>
				<div id="resume-experience-year-4"><p>2016</p></div>
				<div class="resume-experience-info" id="resume-experience-info-4">
					<h4>Safe use of medical technology (Internship)</h4>
					<p class="resume-experience-location">
						Diakonessenhuis hospital, Utrecht 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						It was my task to find a suitable e-learning course to educate hospital personnel on the safe use of medical technology. My project was part of a much bigger hospital wide safety project.
					</p>
				</div>
				<div id="resume-experience-year-5"><p>2012 - 2015</p></div>
				<div class="resume-experience-info" id="resume-experience-info-5">
					<h4>Assistant Landlord (part-time)</h4>
					<p class="resume-experience-location">
						Stadswonen Rotterdam 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						I was entrusted with receiving and handing out keys and dealt with new tenants. I also dealt with tenants complains and reported any issues to Stadswonen.
					</p>
				</div>
				<div id="resume-experience-year-6"><p>2013 - 2014</p></div>
				<div class="resume-experience-info" id="resume-experience-info-6">
					<h4>Innovation in rehabilitation (minor project)</h4>
					<p class="resume-experience-location">
						Laurens Antonius Binnenweg rehabilitation center, Rotterdam 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						In this project I work in a multidisciplinary team. Aside from studying the theraputic effects of videogames on stroke patients we developed a control interface, more suitable for patients with limited mobility. The interface was published in the 2014 summer edition of the <a href="https://issuu.com/laurenszorg/docs/laurens-magazine_zomer-2014">Laurens Magazine</a>.
					</p>
				</div>
				<div id="resume-experience-year-7"><p>2013 - 2014</p></div>
				<div class="resume-experience-info" id="resume-experience-info-7">
					<h4>Design for one (minor project+)</h4>
					<p class="resume-experience-location">
						Erasmus MC, Rotterdam 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						This project ran parallel to my own minor project. I was a consultant in another minor project group. I assisted in the creation of a workshop tool, designed for a client with an amputated arm.
					</p>
				</div>
				<div id="resume-experience-year-8"><p>2012 - 2013</p></div>
				<div class="resume-experience-info" id="resume-experience-info-8">
					<h4>Oxycodon delivery system (intership)</h4>
					<p class="resume-experience-location">
						Bravis Hospital, Roosendaal 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						I researched the possibility of introducing a system that delivers on demand opioid pain medication pills (oxycodon). The system needed to have a programable safety control system to avoid overdoses and an anti-theft system. I delivered my findings in an advisory report.
					</p>
				</div>
				<div id="resume-experience-year-9"><p>2010 - 2011</p></div>
				<div class="resume-experience-info" id="resume-experience-info-9">
					<h4>PostNL (full-time Mail Chauffeur)</h4>
					<p class="resume-experience-location">
						Rotterdam 
					</p>
					<button class="showmore-btn">...Read More</button>
					<p class="resume-experience-story">
						It was my task to empty mailboxes and pickup mail carts from post offices. I was also entrusted with the pickup and delivery of high priority mail.
					</p>
				</div>
			</div>
		</section>
		<section class="resume-section" id="resume-additional">
			<header class="resume-sectionheader" id="resume-additionalheader">
				<h3>Additional Information & Hobbies</h3>
			</header>
			<div class="resume-text" id="resume-additionaltext">
				<section>
					<h4>Driver's License</h4>
					<p>I have a Dutch driver's license and over 10 years of driving experience</p>
				</section>
				<section>
					<h4>Playing guitar</h4>
					<p>I started playing guitar about three years ago and I love it. My style is mostly rock/blues</p>
				</section>
				<section>
					<h4>Gaming</h4>
					<p>I've played video games since I was a kid. I also got into Magic the Gathering for a few years.  </p>
				</section>
				<section>
					<h4>Keeping fit</h4>
					<p>I like jogging, boxing and weightlifting. I also ran the AD Mini Rotterdam Marathon in 2014 and 2015.</p>
				</section>
				<section>
					<h4>Aruba Red Cross volunteer 2000 - 2004</h4>
					<p>I worked in large events such as concerts, football games and carnival parades as a first aid assistant.</p>
				</section>
			</div>
		</section>
	</article>
	<article id="projects-container" name="projects">
		<header id="projects-header">
			<h2>My Projects</h2>
			<p>While studying at The NewYork Code Academy and The LOI I made plenty of practice websites. The projects listed here are my best looking and functioning projects.</p>
		</header>
		<section class="projects-section" id="projects-gitaar">
			<header class="projects-sectionheader" id="projects-gitaar-header">
				<h3>Gitaar</h3>
			</header>
			<img class="projects-image" id="projects-gitaar-image" src="">
			<div class="projects-text" id="projects-gitaar-text">
				<p>
					This was my HTML5 & CSS3 endproject for the LOI course I am following. I love gitaars so I had a lot fun working on this project. I passed the coures with this project.
				</p>
				<p>
					As you can imagine I was only allowed to use HTML5 & CSS3 to build the entire website. I was only allowed a little JS to add a google maps feature in the contacts page. The responsiveness of the page is done with the flexbox.
				</p>
				<p>
					My plans for improvement are to improve the maps functionality and to add a login backed by a user database.
				</p>
			</div>
		</section>
		<section class="projects-section" id="projects-moviebuff">
			<header class="projects-sectionheader" id="projects-moviebuff-header">
				<h3>Movie Buff</h3>
			</header>
			<img class="projects-image" id="projects-moviebuff-image" src="">
			<div class="projects-text" id="projects-moviebuff-text">
				<p>
					A friend working at <a href="">Sogeti</a> gave me this <a href="">project</a> to help me test my own skills and help me get a feel of how far I've come. I'm pleased with my progress and my friend gave me some good tips for improvement. 
				</p>
				<p>
					This website is build in pure JavaScript(ES6), HTML5 and CSS3. It sends queries to a movie data base and I used promises to make up for the response delay.
				</p> 
				<p>
					My plans for improvement are to include a login so I can keep track of searches and personalise the start page of the user.
				</p>
			</div>
		</section>
		<section class="projects-section" id="projects-ninjarun">
			<header class="projects-sectionheader" id="projects-ninjarun-header">
				<h3>Ninjarun</h3>
			</header>
			<img class="projects-image" id="projects-ninjarun-image" src="">
			<div class="projects-text" id="projects-ninjarun-text">
				<p>
					I've always wanted to make a video game. Mainly because I'm a gamer and I'm facinated by animations. So when I saw a <a href="">videogame manual</a> at the bookstore I just had to do it. This is actually not the first game I've written. I have written game prototypes in <a href="">Scratch</a> for healthcare projects. This is however the first game I have written in a object oriented language. Whilest making this game I learned alot about 2D animations, working with spirtes and creating a game loop. I loved seing my daughter play a game I made so I'll defenatly do more of this in the future.
				</p>
				<p>
					This is a sidescolling endless runner game. You play as a ninja avoiding incomming robots and obsticals. The game is written in pure JavaScript, as a full-on frontend game. The entire game and it's resouces get served to the user.
				</p>
				<p>
					This game had alots of room for expansion. I plan on adding music, soundeffects, a character selection, flying enemies and an end boss. 
				</p>
			</div>
		</section>
		<section class="projects-section" id="projects-resume">
			<header class="projects-sectionheader" id="projects-resume-header">
				<h3>My Resume</h3>
			</header>
			<img class="projects-image" id="projects-resume-image" src="">
			<div class="projects-text" id="projects-resume-text">
				<p>
					Ok so probaly not fair to include this website, but I want to tell you a bit about it because I really like it.
				</p>
				<p>
					It's a node.js application and the server runs on express.js. I deployed it using a free <a href="">Heroku</a> account. The front end is done with CSS grid. 
				</p>
			</div>
		</section>
	</article>
	<article id="gallery-container" name="gallery">
		<section id="gallery-frame">
			<header id="gallery-header">
				<h2>Gallery</h2>
			</header>
			<img class="gallery-tile" id="gallery-image-1" src="../image/boxing.jpg">
			<img class="gallery-tile" id="gallery-image-2" src="../image/guitar.jpg">
			<img class="gallery-tile" id="gallery-image-3" src="../image/albumcover.jpg">
			<img class="gallery-tile" id="gallery-image-4" src="../image/lizzy.jpg">
			<img class="gallery-tile" id="gallery-image-5" src="../image/evee.jpg">
			<img class="gallery-tile" id="gallery-image-6" src="../image/running.jpg">
			<img class="gallery-tile" id="gallery-image-7" src="../image/netflixchill.jpg">
			<img class="gallery-tile" id="gallery-image-8" src="../image/temp.jpg">
		</section>
	</article>
	<footer>
		<section id="footer-info">
			<h2>Contact me</h2>
			<p>This is the footer</p>
		</section>
		<img id="footer-image" src="../image/footer-img.jpg">
	</footer>
</body>
</html>