<!DOCTYPE html>
<html>
<head>
	<title>Ninjarun</title>
	<meta charset="utf-8">
	<meta name="keywords" content="javascript, Game, First">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/ninjarun-style.css">
	<!-- <link rel="stylesheet" type="text/css" href="../Style/game.css"> -->
	<!-- <link rel="icon" sizes="16x16 24x24 32x32 64x64" type="image/png" href="../Images/favicon/snorlax_face.ico"> -->
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script src="../JS/app.js" async></script> -->
	<script src="../js/ninjarun-app.js" async></script>
</head>
<body>
	<header id="pageheader">
		<h1>Ninjarun</h1>
	</header>
	<section id="main--contentbox">
		<article>
			<h2>Small intro</h2>
			<p>
				This game is still in development.<br>
				I build it with the help of a manual published by <a href="http://www.nano-tips.com/" target=blank>CoderDojo</a> purely as a hobby.
				The <a href="https://www.bibliotheek.nl/catalogus/titel.411975080.html/cre%C3%ABren-met-code/" target=blank>book</a> I used has some information that has been depricated and it's writen for complete beginners. Because of this, my game isn't an exact replica of what is in the book. Further more, the book did not use the full potential of object oriented programming. For example, the main character of the game isn't writen as an object, even though it should be. The book also doesn't explain how to launch the game as a node.js webapp. 
			</p>
			<p>
				I am glad I took the time to write this simple game because it thaught me new concepts in animation. I will defenatly expand this game. First by cleaning up the code to make it more efficient and readable and then by including audio, levels, a score system, different enemies, character selection and bosses. Optimizing the game for mobile platforms is also in the to-do list.
			</p>
		</article>
		<article id="game--article">
			<h2>Game</h2>
			<p>
				This game is for dektop or laptop use.<br>
				Use "J" to jump or tap the screen.
			</p>
			<section id="game--container" style="background-color: orange;">
			
			</section>
			<button id="start_btn" value="start_game">Start Game</button>
		</article>
	</section>
</body>
</html>