<!DOCTYPE html>
<html>
<head>
	<title>Ninjarun</title>
	<meta charset="utf-8">
	<meta name="keywords" content="javascript, Game, First">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/ninjarun-style.css">
	<link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/babylizzyevee/image/upload/v1643152947/CV-images/favicon/snorlax_face_a8lxfd.ico">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script src="../JS/app.js" async></script> -->
	<script src="../js/ninjarun-app.js" async></script>
</head>
<body>
	<header id="pageheader">
		<h1>Ninjarun</h1>
	</header>
	<section id="main--contentbox">
		<article id="game--article">
			<h2>Ninja Time!!</h2>
			<p>
				Use "J" to jump or tap the game screen.<br>
				Only the real cool kids press start twice.....
			</p>
			<section id="game--container">
			
			</section>
			<button id="start_btn" value="start_game">Start Game</button>
		</article>
	</section>
</body>
</html>