::root {
	--kleur-snow: rgb(255,250,250);
	/*--background-gamewin: url(../Images/Lizzy_Art.jpg);*/
}
body {
	background-color: var(--kleur-snow);
	min-width: 835px;
}
footer {
	height: 7em;
	width: 100%;
	margin: 2em 0 0 0;
	text-align: center;
	background-color: dimgrey;
	border-top: 1em solid black;
}
nav {
	text-align: center;
	background-color: olive;
	padding: .4em 0 .4em 0;
	height: 3em;
	width: 100%; 
}
nav h3 {
	margin: 0;
}
#pageheader {
	text-align: center;
	width: 800px;
	/*max-width: 60em;*/
	margin: 0 auto 1em auto;
	font-family: "Press Start 2P", "sans-serif";
}
h2 {
	font-family: "Orbitron", "sans-serif";
}
article {
	margin: 0 auto 1em auto;
}
#main--contentbox {
	width: 800px;
	/*max-width: 60em;*/
	min-height: 100vh;
	padding: 0 .5em 0 .5em;
	margin: auto;
	box-sizing: border-box;
}
#game--article {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
#game--container {
	padding: 1em 1em 1em 1em;
	margin: .5em auto .5em auto;
	/*box-sizing: border-box;*/
	height: 600px;
	width: 800px;
	/*background-image: url(../Images/Lizzy_Art.jpg);*/
	background-color: grey;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	align-self: center;
}
#start_btn {
	font-family: "Press Start 2P", "sans-serif";
	padding: .4em;
	align-self: center;
}
#game__canvas {
	/*background-color: lightblue;*/
	border: solid 2px blue;
	image-rendering: -moz-crisp-edges;
  	image-rendering: -webkit-crisp-edges;
  	image-rendering: pixelated;
  	image-rendering: crisp-edges;
}