:root {
	/*kleuren*/
	--color-snow: rgb(255, 250, 250);
	--color-whitesmoke: rgb(245,245,245);
	--color-steelblue: rgb(70,130,180);
	--color-dodgerblue: rgb(30,144,255);
	--color-menu-highlight: rgba(105, 105, 105, 0.9);
	--color-schadow: rgba(0, 0, 0, 0.2);
	--color-gainsboro: rgb(220,220,220);
	--color-lightblack: hsl(0, 0%, 15%);
	--color-lightgrey: rgb(112, 112, 110);
	--color-black: rgb(0,0,0);
}
body {
	background-color: var(--color-whitesmoke);
	scroll-behavior: smooth;
}
.navitem {
	/*place-self: center center;*/
	/*text-align: center;*/
	/*height: 100%;
	width: 100%;*/
	display: flex;
  	align-items: center;
  	justify-content: center;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	color: var(--color-black);
}
.navitem:hover {
	background-color: var(--color-menu-highlight);
	color: var(--color-whitesmoke);
	transition: all ease-in-out 0.5s;
}
.navitem-logo {
	grid-area: logo;
	justify-self: stretch;
}
.navitem-1 {
	grid-area: intro;
}
.navitem-2 {
	grid-area: resume;
}
.navitem-3 {
	grid-area: projects;
}
.navitem-4 {
	grid-area: gallery;
}
.navitem-5 {
	grid-area: contact;
}
nav {
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 3.5em;
	grid-template-areas: ". logo . intro resume projects gallery contact . ";
	font-family: 'Orbitron', sans-serif;
	background-color: var(--color-whitesmoke);
	position: sticky;
	top: 0;
}
/*Mobiel nav*/
@media screen
	and (max-width: 1366px)
	and (-webkit-min-device-pixel-ratio:  2) {
		.navitem {
			font-size: .8em;
		}
		.navitem-logo {
			place-self: center center;
			font-size: 1em;
		}
		nav {
			grid-template-columns: .8fr .8fr 1fr 1fr 1fr;
			grid-template-rows: 1.5em 2.5em;
			grid-template-areas: 
				"logo logo logo logo logo"
				"intro resume projects gallery contact";
		}
	}
/*Laptop nav*/
@media screen 
  	and (min-device-width: 1200px) 
  	and (max-device-width: 1600px) 
  	and (-webkit-min-device-pixel-ratio: 1) {
  		.navitem {
			font-size: 1em;
		}
		nav {
			grid-template-columns: 0.1fr 2fr 0.2fr 0.9fr .9fr .9fr .9fr .9fr 0.1fr;
			grid-template-rows: 3.5em;
			grid-template-areas: ". logo . intro resume projects gallery contact . ";
		}
	}
@media screen 
  	and (min-device-width: 1200px) 
  	and (max-device-width: 1600px) 
  	and (-webkit-min-device-pixel-ratio: 2)
  	and (min-resolution: 192dpi) {
  		.navitem {
			font-size: 1em;
		}
	  	nav {
			grid-template-columns: 0.1fr 2fr 0.2fr 0.9fr .9fr .9fr .9fr .9fr 0.1fr;
			grid-template-rows: 3.5em;
			grid-template-areas: ". logo . intro resume projects gallery contact . ";
		}
	}
.banner-container {
	font-family: 'Orbitron', sans-serif;
	background-color: var(--color-steelblue);
	display: grid;
	grid-template-rows: 3em calc(100vh - 9.5em) 3em;
	grid-template-columns: 3em 2fr .5fr 4fr 3em;
	grid-template-areas:
		". . . . ."
		". welcome . bannerImage ."
		". . . . .";
}
.banner-message {
	grid-area: welcome;
}
.banner-image {
	grid-area: bannerImage;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.intro-header {
	grid-area: intro-header;
}
.intro-image {
	grid-area: intro-image;
	place-self: center center;
	height: 85%;
	width: 75%;
	object-fit: cover;
}
.intro-text {
	grid-area: intro-text;
	place-self: center center;
	width: 75%;
}
.intro-container {
	font-family: 'Orbitron', sans-serif;
	display: grid;
	grid-template-rows: 3em calc(100vh - 9.5em) 3em;
	grid-template-columns: 3em 4fr 2fr 3em;
	grid-template-areas: 
		". intro-header intro-header ."
		". intro-text intro-image ."
		". . . .";
}
.footer--info {
	grid-area: footerInfo;
}
.footer--image {
	grid-area: footerImage;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
footer {
	font-family: 'Orbitron', sans-serif;
	background-color: var(--color-steelblue);
	display: grid;
	grid-template-rows: 18em;
	grid-template-columns: 3em 5fr 3fr 3em;
	grid-template-areas: ". footerInfo footerImage .";
}