:root {
	/*font*/
	--font-nav: 'Orbitron';
	--font-banner: 'Orbitron';
	--font-headers: 'Orbitron';
	--font-text: 'Roboto';
	/*kleuren*/
	--color-snow: rgb(255, 250, 250);
	--color-whitesmoke: rgb(245,245,245);
	--color-steelblue: rgb(70,130,180);
	--color-dodgerblue: rgb(30,144,255);
	--color-menu-highlight: rgba(105, 105, 105, 0.9);
	--color-schadow: rgba(0, 0, 0, 0.2);
	--color-gainsboro: rgb(220,220,220);
	--color-lightblack: hsl(0, 0%, 15%);
	--color-lightgrey: rgb(112, 112, 110);
	--color-black: rgb(0,0,0);
}
body {
	background-color: var(--color-whitesmoke);
	scroll-behavior: smooth;
}
.navitem {
	/*place-self: center center;*/
	/*text-align: center;*/
	/*height: 100%;
	width: 100%;*/
	display: flex;
  	align-items: center;
  	justify-content: center;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: bold;
	color: var(--color-black);
}
.navitem:hover {
	background-color: var(--color-menu-highlight);
	color: var(--color-whitesmoke);
	transition: all ease-in-out 0.5s;
}
.navitem-logo {
	grid-area: logo;
	justify-self: stretch;
}
.navitem-1 {
	grid-area: intro;
}
.navitem-2 {
	grid-area: resume;
}
.navitem-3 {
	grid-area: projects;
}
.navitem-4 {
	grid-area: gallery;
}
.navitem-5 {
	grid-area: contact;
}
nav {
	display: grid;
	grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 3.5em;
	grid-template-areas: ". logo . intro resume projects gallery contact . ";
	font-family: var(--font-nav), sans-serif;
	background-color: var(--color-whitesmoke);
	position: sticky;
	top: 0;
}
/*Mobiel nav*/
@media screen
	and (max-width: 1366px)
	and (-webkit-min-device-pixel-ratio:  2) {
		.navitem {
			font-size: .8em;
		}
		.navitem-logo {
			place-self: center center;
			font-size: 1em;
		}
		nav {
			grid-template-columns: .8fr .8fr 1fr 1fr 1fr;
			grid-template-rows: 1.5em 2.5em;
			grid-template-areas: 
				"logo logo logo logo logo"
				"intro resume projects gallery contact";
		}
	}
/*Laptop nav*/
@media screen 
  	and (min-device-width: 1200px) 
  	and (max-device-width: 1600px) 
  	and (-webkit-min-device-pixel-ratio: 1) {
  		.navitem {
			font-size: 1em;
		}
		nav {
			grid-template-columns: 0.1fr 2fr 0.2fr 0.9fr .9fr .9fr .9fr .9fr 0.1fr;
			grid-template-rows: 3.5em;
			grid-template-areas: ". logo . intro resume projects gallery contact . ";
		}
	}
@media screen 
  	and (min-device-width: 1200px) 
  	and (max-device-width: 1600px) 
  	and (-webkit-min-device-pixel-ratio: 2)
  	and (min-resolution: 192dpi) {
  		.navitem {
			font-size: 1em;
		}
	  	nav {
			grid-template-columns: 0.1fr 2fr 0.2fr 0.9fr .9fr .9fr .9fr .9fr 0.1fr;
			grid-template-rows: 3.5em;
			grid-template-areas: ". logo . intro resume projects gallery contact . ";
		}
	}
/*//////////////////banner ///////////////*/
.banner-container {
	font-family: var(--font-banner), sans-serif;
	background-color: var(--color-steelblue);
	display: grid;
	grid-template-rows: 3em calc(100vh - 9.5em) 3em;
	grid-template-columns: 3em 2fr .5fr 4fr 3em;
	grid-template-areas:
		". . . . ."
		". welcome . bannerImage ."
		". . . . .";
}
.banner-message {
	grid-area: welcome;
	font-size: 1.5em;
}
.banner-image {
	grid-area: bannerImage;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*//////////////// intro ///////////////*/
.intro-header {
	grid-area: intro-header;
	font-family: var(--font-headers), sans-serif;
}
.intro-image {
	grid-area: intro-image;
	place-self: center center;
	height: 85%;
	width: 75%;
	object-fit: cover;
}
.intro-text {
	font-family: var(--font-text), sans-serif;
	grid-area: intro-text;
	place-self: center center;
	width: 75%;
}
.intro-container {
	display: grid;
	/*grid-template-rows: 3em calc(100vh - 9.5em) 3em;*/
	grid-template-rows: 3em auto 3em;
	grid-template-columns: 3fr 4fr 4fr 3fr;
	grid-template-areas: 
		". . . ."
		". intro-text intro-image ."
		". . . .";
}
/*mobile intro*/
@media screen
	and (max-width: 1366px)
	and (-webkit-min-device-pixel-ratio:  2) {
		.intro-text {
			width: 90%;
		}
		.intro-image {
			height: 90%;
			width: 80%;
		}
		.intro-container {
			grid-template-rows: auto auto;
			grid-template-columns: auto;
			grid-template-areas: 
				"intro-text"
				"intro-image";
		}
	}
/*///////////Laptop/tablet menu//////////////////////////*/
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-width: 1024px) 
  and (max-device-width: 1600px) 
  and (-webkit-max-device-pixel-ratio: 2) {
  	.intro-text {
		width: 90%;
	}
	.intro-image {
		height: 55%;
		width: 80%;
	}
  	.intro-container {
		grid-template-rows: 3em calc(100vh - 9.5em) 3em;
		grid-template-columns: auto auto;
		grid-template-areas: 
			". ."
			"intro-text intro-image"
			". .";
	}
}
/*////////////// Resume /////////////////////*/


/*////////////// My Projects ////////////////*/
.projects-header, .projects-sectionheader {
	font-family: var(--font-headers), sans-serif;
}
.projects-text {
	font-family: var(--font-text), sans-serif;
}
.projects-header {
	grid-area: projects-header;
}
.projects-gitaar {
	grid-area: projects-gitaar;
}
.projects-moviebuff {
	grid-area: projects-moviebuff;
}
.projects-ninjarun {
	grid-area: projects-ninjarun;
}
.projects-resume {
	grid-area: projects-resume;
}
.projects-container {
	display: grid;
	grid-template-rows: 3em auto auto auto auto auto 3em;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas:
		". . ."
		". projects-header ."
		". projects-gitaar ."
		". projects-moviebuff ."
		". projects-ninjarun ."
		". projects-resume ."
		". . .";
}
.projects-sectionheader {
	grid-area: projects-sectionheader;
}
.projects-image {
	grid-area: projects-image;
	background-color: var(--color-lightgrey);
	place-self: center;
	object-fit: cover;
	width: 70%;
	height: 90%;
}
.projects-text {
	grid-area: projects-text;
}
.projects-section {
	display: grid;
	grid-template-rows: auto 25em;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"projects-sectionheader projects-sectionheader"
		"projects-text projects-image"
}
/*/////////////// Gallery ///////////////*/
.gallery { font-family: var(--font-headers);, sans-serif; }
.gallery-image-1 {
	grid-area: image-1;
	background-color: blue;
}
.gallery-image-2 {
	grid-area: image-2;
	background-color: lightgrey;
}
.gallery-image-3 {
	grid-area: image-3;
	background-color: black;
}
.gallery-image-4 {
	grid-area: image-4;
	background-color: grey;
}
.gallery-image-5 {
	grid-area: image-5;
	background-color: orange;
}
.gallery-image-6 {
	grid-area: image-6;
	background-color: purple;
}
.gallery-image-7 {
	grid-area: image-7;
	background-color: red;
}
.gallery-image-8 {
	grid-area: image-8;
	background-color: green;
}
.gallery-tile {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.gallery-frame {
	grid-area: gallery-frame;
}
.gallery-header {
	grid-area: gallery-header;
	place-self: center left;
}
.gallery-header h2 { margin: 0; }
.gallery-container {
	display: grid;
	grid-template-rows: calc(100vh - 6.5em) 3em;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-areas:
		". gallery-frame ."
		". . .";
}
.gallery-frame {
	display: grid;
	grid-template-rows: 3em 30vh 30vh;
	grid-template-columns: auto auto auto auto;
	grid-template-areas:
		"gallery-header gallery-header gallery-header gallery-header" 
		"image-1 image-2 image-3 image-4"
		"image-5 image-6 image-7 image-8";
	place-self: center stretch;
}
.footer--info {
	grid-area: footerInfo;
}
.footer--image {
	grid-area: footerImage;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
footer {
	font-family: var(--font-headers);, sans-serif;
	background-color: var(--color-steelblue);
	display: grid;
	grid-template-rows: 18em;
	grid-template-columns: 3em 5fr 3fr 3em;
	grid-template-areas: ". footerInfo footerImage footerImage";
}